/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background: #212529;
    /* Darker background for header */
    color: #ffffff;
    /* White text color */
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    /* White text color for links */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px;
    flex: 1;
    padding-bottom: 60px;
    /* Adjust this value to be the height of the footer */
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background: #212529;
    /* Darker background for footer */
    color: #ffffff;
    /* White text color */
    text-align: center;
    padding: 1rem 0;
    position: relative;
    /* Change to relative positioning */
    bottom: 0;
    width: 100%;
}

/* Table styles */
table {
    margin: 0 auto;
    /* Center the table horizontally */
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    /* Adjust as needed for responsiveness */
}

/* Center align table headers and cells */
table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    /* Center align text in table headers and cells */
}

table th {
    background-color: #f8f9fa;
    /* Lighter background for table headers */
    font-weight: bold;
}

/* Button styles */
.btn-primary {
    background-color: #212529 !important;
    /* Green background color */
    border: none !important;
    color: #ffffff !important;
    /* White text color */
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 55px !important;
    cursor: pointer !important;
    border-radius: 4px !important;
    /* Rounded corners */
    transition: background-color 0.3s ease !important;
    /* Smooth transition effect */
}

.btn-primary:hover {
    background-color: #218838 !important;
    /* Darker green background on hover */
}